In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('airport.csv')

In [3]:
df

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,year_built,year_tier,Closed,home_link,wikipedia_link,keywords,score
0,26555,VIDP,large_airport,Indira Gandhi International Airport,28.566500,77.103104,777.0,IN-DL,New Delhi,1,VIDP,DEL,NaN,1930.0,1950.0,n,http://www.newdelhiairport.in/,http://en.wikipedia.org/wiki/Indira_Gandhi_Int...,Palam Air Force Station,51475
1,26434,VABB,large_airport,Chhatrapati Shivaji International Airport,19.088699,72.867897,39.0,IN-MM,Mumbai,1,VABB,BOM,NaN,1942.0,1950.0,n,http://www.csia.in/,http://en.wikipedia.org/wiki/Chhatrapati_Shiva...,"Bombay, Sahar International Airport",1014475
2,26618,VOMM,large_airport,Chennai International Airport,12.990005,80.169296,52.0,IN-TN,Chennai,1,VOMM,MAA,NaN,1910.0,1950.0,n,NaN,http://en.wikipedia.org/wiki/Chennai_Internati...,NaN,51150
3,35145,VOBL,large_airport,Kempegowda International Airport,13.197900,77.706299,3000.0,IN-KA,Bangalore,1,VOBL,BLR,NaN,2008.0,2010.0,n,http://www.bengaluruairport.com/home/home.jspx,https://en.wikipedia.org/wiki/Kempegowda_Inter...,NaN,51200
4,26444,VAGO,large_airport,Goa International Airport,15.380800,73.831398,150.0,IN-GA,Vasco da Gama,1,VOGO,GOI,NaN,1955.0,1955.0,n,NaN,http://en.wikipedia.org/wiki/Dabolim_Airport,"Goa Airport, Dabolim Navy Airbase, ________隷怄_...",875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,46625,IN-0062,small_airport,Shirpur Airport,21.323999,74.956734,NaN,IN-MM,Shirpur,0,NaN,NaN,NaN,NaN,NaN,n,NaN,NaN,"Shirpur, Dhule",0
333,46640,IN-0064,small_airport,Umaria Air Field,23.532514,80.808220,1510.0,IN-MP,Umaria,0,NaN,NaN,NaN,NaN,NaN,n,NaN,NaN,NaN,0
334,46561,IN-0038,heliport,Upper Tadong Indian Army Helipad,27.306717,88.599650,NaN,IN-SK,Upper Tadong,0,NaN,NaN,NaN,NaN,NaN,n,NaN,NaN,NaN,0
335,319166,IN-0101,small_airport,Vanasthali Airport,26.407627,75.870128,NaN,IN-RJ,Vanasthali,0,NaN,NaN,NaN,NaN,NaN,n,NaN,NaN,NaN,0
336,46557,IN-0034,small_airport,Vijay Nagar Airport,19.884100,73.840567,NaN,IN-MM,Vijay Nagar,0,NaN,NaN,NaN,NaN,NaN,n,NaN,NaN,NaN,0

In [5]:
print(df.head(10))

      id ident            type  \
0  26555  VIDP   large_airport
1  26434  VABB   large_airport
2  26618  VOMM   large_airport
3  35145  VOBL   large_airport
4  26444  VAGO   large_airport
5  26609  VOCI   large_airport
6  26496  VECC   large_airport
7  35141  VOHS   large_airport
8  26629  VOTV   large_airport
9  26563  VIJP  medium_airport

                                                name  latitude_deg  \
0                Indira Gandhi International Airport     28.566500
1          Chhatrapati Shivaji International Airport     19.088699
2                      Chennai International Airport     12.990005
3                   Kempegowda International Airport     13.197900
4                          Goa International Airport     15.380800
5                       Cochin International Airport     10.152000
6  Netaji Subhash Chandra Bose International Airport     22.654699
7                 Rajiv Gandhi International Airport     17.231318
8                   Trivandrum International Airport      8.482120
9                       Jaipur International Airport     26.824200

   longitude_deg  elevation_ft iso_region        municipality  \
0      77.103104         777.0      IN-DL           New Delhi
1      72.867897          39.0      IN-MM              Mumbai
2      80.169296          52.0      IN-TN             Chennai
3      77.706299        3000.0      IN-KA           Bangalore
4      73.831398         150.0      IN-GA       Vasco da Gama
5      76.401901          30.0      IN-KL               Kochi
6      88.446701          16.0      IN-WB             Kolkata
7      78.429855        2024.0      IN-TG           Hyderabad
8      76.920097          15.0      IN-KL  Thiruvananthapuram
9      75.812202        1263.0      IN-RJ              Jaipur

   scheduled_service gps_code iata_code local_code  year_built  year_tier  \
0                  1     VIDP       DEL        NaN      1930.0     1950.0
1                  1     VABB       BOM        NaN      1942.0     1950.0
2                  1     VOMM       MAA        NaN      1910.0     1950.0
3                  1     VOBL       BLR        NaN      2008.0     2010.0
4                  1     VOGO       GOI        NaN      1955.0     1955.0
5                  1     VOCI       COK        NaN      1999.0     2000.0
6                  1     VECC       CCU        NaN      1929.0     1950.0
7                  1     VOHS       HYD        NaN      2008.0     2010.0
8                  1     VOTV       TRV        NaN      1932.0     1950.0
9                  1     VIJP       JAI        NaN         NaN        NaN

  Closed                                          home_link  \
0      n                     http://www.newdelhiairport.in/
1      n                                http://www.csia.in/
2      n                                                NaN
3      n     http://www.bengaluruairport.com/home/home.jspx
4      n                                                NaN
5      n                     http://www.cochin-airport.com/
6      n                                                NaN
7      n                  http://www.shamshabadairport.com/
8      n                                                NaN
9      n  http://aai.aero/allAirports/jaipur_generalinfo...

                                      wikipedia_link  \
0  http://en.wikipedia.org/wiki/Indira_Gandhi_Int...
1  http://en.wikipedia.org/wiki/Chhatrapati_Shiva...
2  http://en.wikipedia.org/wiki/Chennai_Internati...
3  https://en.wikipedia.org/wiki/Kempegowda_Inter...
4       http://en.wikipedia.org/wiki/Dabolim_Airport
5  http://en.wikipedia.org/wiki/Cochin_Internatio...
6  http://en.wikipedia.org/wiki/Netaji_Subhash_Ch...
7  http://en.wikipedia.org/wiki/Rajiv_Gandhi_Inte...
8  http://en.wikipedia.org/wiki/Trivandrum_Intern...
9        http://en.wikipedia.org/wiki/Jaipur_Airport

                                            keywords    score
0                            Palam Air Force Station    51475
1                Bombay, Sahar International Airport  1014475
2                                                NaN    51150
3                                                NaN    51200
4  Goa Airport, Dabolim Navy Airbase, ________隷怄_...      875
5                                             Cochin     1000
6      Calcutta, Kolkatta, Dum Dum Air Force Station     1200
7                              Shamshabad, Hyderabad     1200
8  Thiruvananthapuram International Airport, Triv...     1050
9                                                NaN     1050

In [6]:
print(df.tail(10))

         id    ident           type                              name  \
327   46515  IN-0026  small_airport                     Korba Airport
328   46555  IN-0032       heliport                     Saiha Helipad
329   46558  IN-0035       heliport  Sevoke Road Indian Army Heliport
330   46553  IN-0030       heliport                  Serchhip Helipad
331   46565  IN-0042       heliport      Shillong Indian Army Helipad
332   46625  IN-0062  small_airport                   Shirpur Airport
333   46640  IN-0064  small_airport                  Umaria Air Field
334   46561  IN-0038       heliport  Upper Tadong Indian Army Helipad
335  319166  IN-0101  small_airport                Vanasthali Airport
336   46557  IN-0034  small_airport               Vijay Nagar Airport

     latitude_deg  longitude_deg  elevation_ft iso_region  municipality  \
327     22.414167      82.719444        1200.0      IN-CT       Rumgara
328     22.488583      92.986950           NaN      IN-MZ         Saiha
329     26.774400      88.452317         472.0      IN-WB      Salugara
330     23.328750      92.856067           NaN      IN-MZ      Serchhip
331     25.544250      91.881717           NaN      IN-ML      Shillong
332     21.323999      74.956734           NaN      IN-MM       Shirpur
333     23.532514      80.808220        1510.0      IN-MP        Umaria
334     27.306717      88.599650           NaN      IN-SK  Upper Tadong
335     26.407627      75.870128           NaN      IN-RJ    Vanasthali
336     19.884100      73.840567           NaN      IN-MM   Vijay Nagar

     scheduled_service gps_code iata_code local_code  year_built  year_tier  \
327                  0      NaN       NaN        NaN         NaN        NaN
328                  1      NaN       NaN        NaN         NaN        NaN
329                  0      NaN       NaN        NaN         NaN        NaN
330                  0      NaN       NaN        NaN         NaN        NaN
331                  0      NaN       NaN        NaN         NaN        NaN
332                  0      NaN       NaN        NaN         NaN        NaN
333                  0      NaN       NaN        NaN         NaN        NaN
334                  0      NaN       NaN        NaN         NaN        NaN
335                  0      NaN       NaN        NaN         NaN        NaN
336                  0      NaN       NaN        NaN         NaN        NaN

    Closed home_link wikipedia_link        keywords  score
327      n       NaN            NaN             NaN      0
328      n       NaN            NaN             NaN      0
329      n       NaN            NaN             NaN      0
330      n       NaN            NaN             NaN      0
331      n       NaN            NaN             NaN      0
332      n       NaN            NaN  Shirpur, Dhule      0
333      n       NaN            NaN             NaN      0
334      n       NaN            NaN             NaN      0
335      n       NaN            NaN             NaN      0
336      n       NaN            NaN             NaN      0

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337 entries, 0 to 336
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 337 non-null    int64
 1   ident              337 non-null    object
 2   type               337 non-null    object
 3   name               337 non-null    object
 4   latitude_deg       337 non-null    float64
 5   longitude_deg      337 non-null    float64
 6   elevation_ft       262 non-null    float64
 7   iso_region         337 non-null    object
 8   municipality       170 non-null    object
 9   scheduled_service  337 non-null    int64
 10  gps_code           232 non-null    object
 11  iata_code          132 non-null    object
 12  local_code         58 non-null     object
 13  year_built         89 non-null     float64
 14  year_tier          89 non-null     float64
 15  Closed             337 non-null    object
 16  home_link          44 non-null     object
 17  wikipedia_link     134 non-null    object
 18  keywords           91 non-null     object
 19  score              337 non-null    int64
dtypes: float64(5), int64(3), object(12)
memory usage: 52.8+ KB
None

In [8]:
print(df.describe())

                  id  latitude_deg  longitude_deg  elevation_ft  \
count     337.000000    337.000000     337.000000    262.000000
mean    62662.946588     22.826837      80.861196   1448.362595
std     94991.519843      6.128305       8.189304   2454.905728
min      3283.000000      0.000000       0.000000      5.000000
25%     26457.000000     19.719444      75.845596    310.250000
50%     26578.000000     23.631500      78.971497    760.000000
75%     46481.000000     26.888700      86.706944   1684.750000
max    325010.000000     35.500000      97.019661  22000.000000

       scheduled_service   year_built    year_tier         score
count         337.000000    89.000000    89.000000  3.370000e+02
mean            0.249258  1962.033708  1968.494382  3.685760e+03
std             0.433227    27.391708    22.777642  5.543450e+04
min             0.000000  1910.000000  1950.000000  0.000000e+00
25%             0.000000  1942.000000  1950.000000  0.000000e+00
50%             0.000000  1951.000000  1955.000000  5.000000e+01
75%             0.000000  1987.000000  1990.000000  2.500000e+02
max             1.000000  2018.000000  2018.000000  1.014475e+06

In [9]:
print(df.columns)

Index(['id', 'ident', 'type', 'name', 'latitude_deg', 'longitude_deg',
       'elevation_ft', 'iso_region', 'municipality', 'scheduled_service',
       'gps_code', 'iata_code', 'local_code', 'year_built', 'year_tier',
       'Closed', 'home_link', 'wikipedia_link', 'keywords', 'score'],
      dtype='object')

In [10]:
print(df.index)

RangeIndex(start=0, stop=337, step=1)

In [11]:
print(df.shape)

(337, 20)

In [14]:
print(df['id'])

0       26555
1       26434
2       26618
3       35145
4       26444
        ...
332     46625
333     46640
334     46561
335    319166
336     46557
Name: id, Length: 337, dtype: int64

In [15]:
print(df.corr())

                         id  latitude_deg  longitude_deg  elevation_ft  \
id                 1.000000      0.016122      -0.007688      0.022172
latitude_deg       0.016122      1.000000       0.222361      0.354414
longitude_deg     -0.007688      0.222361       1.000000     -0.069217
elevation_ft       0.022172      0.354414      -0.069217      1.000000
scheduled_service -0.116698     -0.140416      -0.098084     -0.115677
year_built         0.298938      0.018464       0.030762      0.225723
year_tier          0.310198      0.001288       0.022084      0.201100
score             -0.025205     -0.039770      -0.056147     -0.036823

                   scheduled_service  year_built  year_tier     score
id                         -0.116698    0.298938   0.310198 -0.025205
latitude_deg               -0.140416    0.018464   0.001288 -0.039770
longitude_deg              -0.098084    0.030762   0.022084 -0.056147
elevation_ft               -0.115677    0.225723   0.201100 -0.036823
scheduled_service           1.000000    0.095874   0.130259  0.113399
year_built                  0.095874    1.000000   0.968503 -0.085831
year_tier                   0.130259    0.968503   1.000000 -0.085875
score                       0.113399   -0.085831  -0.085875  1.000000

C:\Users\hamza\AppData\Local\Temp\ipykernel_16180\308504422.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.corr())

In [16]:
print(df.corrwith(df['id']))

id                   1.000000
latitude_deg         0.016122
longitude_deg       -0.007688
elevation_ft         0.022172
scheduled_service   -0.116698
year_built           0.298938
year_tier            0.310198
score               -0.025205
dtype: float64

C:\Users\hamza\AppData\Local\Temp\ipykernel_16180\1354376650.py:1: FutureWarning: The default value of numeric_only in DataFrame.corrwith is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.corrwith(df['id']))

In [18]:
print(df['id'].corr(df['latitude_deg']))

0.016121765129537453

In [19]:
print(df['id'].corr(df['longitude_deg']))

-0.00768789691223267

In [20]:
print(df['id'].corr(df['elevation_ft']))

0.022171826231620957